body
{
  background-color: lightblue;
  font-family: "niceFontAsWell";
  margin: auto auto;
}

@font-face {
  font-family: "niceFontAsWell";
  src: url('../fonts/Rajdhani-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.MenuSection
{
  background: url("../imgs/bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: auto;
  padding: 0% 0%;
  height: 200px;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 100px , 130px 100px,0px 200px,0px 200px);
  -webkit-shape-outside: polygon(0px 0px, 100% 0px, 100% 100px , 130px 100px,0px 200px,0px 200px);
  width: 100%;
  float: left;
}

.MenuSection ul
{
  transform: scale(0);
  padding: 3px 5px;
  margin: auto 10px;
  background-color: rgba(228, 140, 118, 0.5);
  width: 90px;
  height: 90px;
  border-radius: 10px;
  transition: all 300ms;
}

.MenuSection ul.animMenu
{
  transform: scale(1);
}

.MenuSection ul:hover
{
  padding: 3px 5px;
  margin: auto 10px;
  background-color: rgba(228, 140, 118, 1);
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.MenuSection ul li
{
  display: block;
  padding: 5px 0px;
  text-align: left;
}

.MenuSection ul li a
{
  text-decoration: none;
  color: rgba(219, 219, 219, 0.5);
}

.MenuSection ul li a:hover
{
  text-decoration: none;
  color: rgba(249, 252, 87, 1);
}

.Contain
{
  max-width: 100%;

  margin: 0 20%;
  background-color: #e1e1e1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content
{
  text-align: justify;
  margin-top: 100px;
  margin-bottom: auto;
}

.h1txt
{
  text-align: right;
  margin: auto auto;
  padding: 50px 10px;
  border-bottom: 1px solid gray;
  border-width: thin;
  font-style: italic;
  font-weight: lighter;
}

.typeColor
{
  max-width: 100%;
  height: 18px;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: whitesmoke;
  text-align: center;
  padding: 2px 0px;
}

.footer
{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  background-color: black;

  text-align: right;
  color: whitesmoke;
  clear: both;
}



.fade
{
  -webkit-animation-name: fadeNow;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeNow;
  animation-duration: 1.5s;
}

@keyframes fadeNow {
  from
  {
    opacity: 0.1
  }
  to{
    opacity: 1
  }
}

@-webkit-keyframes fadeNow {
  from
  {
    opacity: 0.1
  }
  to{
    opacity: 1
  }
}

.slideContainer
{
  width: 100%;
  margin: 0px 0px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.slide
{
  display: none;
  width: 100%;
  height: 50%;
/*  -webkit-clip-path: polygon(0% 100%, 0 24%, 6% 0%, 94% 0, 100% 24%, 100% 100%);
  clip-path: polygon(0% 100%, 0 24%, 6% 0%, 94% 0, 100% 24%, 100% 100%);*/


  overflow: hidden;
}

.caption
{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(38, 209, 158, 0.5);
  bottom: 25px;
  left: 0px;
}

.caption-p
{
  color: white;
  text-align: left;
  bottom: 0;
  padding: 5px 5px;
  margin-top: 5px;
}

.caption-h
{
  color: white;
  text-align: center;
  top: 0;
  padding: 5px 5px;
  margin: 4px 0px;
}

.imgSlide
{
  width: 100%;
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.mainDot
{
  width: 100%;
  height: 25px;
  background-color: transparent;
  clear: both;
  position: absolute;
  bottom: 0px;
}

.centerPlz
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots
{
  width:25px;
  height: 25px;
  background-color: whitesmoke;
  position: relative;
  margin: auto 4px;
  float: left;
}

.left
{
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  background-color: rgb(89, 255, 165);
  left: 0;
}

.theNavs
{
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: rgb(89, 255, 165);
  top: 50%;
  transform: 	translateY(-50%);
  clear: left;
  opacity: 0.4;
}

.theNavs:hover
{
  opacity: 1;
}

.right
{
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background-color: rgb(89, 255, 165);
  right: 0;
}

.workTitles
{
  width: 100%x;
  max-height: 100%;
  margin: 5px 0px;
  font-family: sans-serif;
  font-weight: lighter;
  clear: both;
}

.tit
{
  margin-left: 2%;
}

.titBorder
{
  border-bottom: 0.3px solid black;
clear: both;
}

.titP
{
  margin: 0px 10px;
  line-height: 200%;
}

.twoGrid
{
  width: 50%;
  float: left;
}

.eachSkills
{
  width: 100%;
  max-height: 20%;
  float: left;
}

.skillDot
{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: black;
}

.contactObs
{
  font-size: 100%;
  float: left;
  margin: 5px 10%;
}

@media  screen and (max-width: 800px){
  .twoGrid
  {
    width: 100%;
    float: left;
  }
  .workTitles
  {
    width: 100%x;
    margin: 5px 0px;
    font-family: sans-serif;
    font-weight: lighter;
    overflow-y: scroll;
  }
  .caption
  {
    position: absolute;
    max-width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(38, 209, 158, 0.5);
    bottom: 0;
    left: 0px;
    overflow-y: scroll;
  }
  body
  {
    background-color: yellow;
    font-family: "niceFontAsWell";
    margin: auto auto;
  }
  .MenuSection
  {
    padding: 0% 0%;
    background-color: whitesmoke;
    height: 110px;
    width: 100%;
    float: left;
  }

  .MenuSection ul li
  {
    display: block;
    padding: 5px 0px;
    text-align: left;;
    margin: 0% 0%;
  }

  .Contain
  {
    max-width: 100%;
    margin: 0 0;
    background-color: #e1e1e1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }
  .mainDot
  {
    width: 100%;
    height: 25px;
    background-color: transparent;
    clear: both;
    position: relative;
    background-color: rgb(102, 37, 94);
  }
}
@media only screen and (min-device-width: 320px)
and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait){
  .twoGrid
  {
    width: 100%;
    float: left;
  }
  .workTitles
  {
    width: 100%x;
    margin: 5px 0px;
    font-family: sans-serif;
    font-weight: lighter;
    overflow-y: scroll;
  }
  .caption
  {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    color: white;
    background-color: rgba(38, 209, 158, 0.5);
    bottom: 0;
    left: 0px;
    overflow-y: scroll;
    padding-bottom: 0px;
  }
  body
  {
    background-color: red;
    font-family: "niceFontAsWell";
    margin: auto auto;
  }
  .MenuSection
  {
    padding: 0% 0%;
    background-color: whitesmoke;
    height: 110px;
    width: 100%;
    float: left;
  }

  .MenuSection ul li
  {
    display: block;
    padding: 5px 0px;
    text-align: left;;
    margin: 0% 0%;
  }

  .Contain
  {
    max-width: 100%;
    margin: 0 0;
    background-color: #e1e1e1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }

  .mainDot
  {
    width: 100%;
    height: 25px;
    background-color: transparent;
    clear: both;
    position: relative;
    background-color: rgb(102, 37, 94);
  }
}
